   body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .box{
        border: 2px solid navy;
        background-color: lightgreen;
        padding: 5px;
        margin: 2rem;
    }